@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  direction: rtl;
  --yellow1: 219, 165, 6; 
  --yellow2: 219, 182, 72; 
  --yellow3: 210, 184, 108;
  --blue: 88, 111, 237;
  --gray1: 18, 18, 18; 
  --gray2: 31, 31, 31; 
  --gray3: 79, 79, 79;
}

.ltr {
  direction: ltr;
}

.light {
  --background: white;
  --foreground: black;
  
  --border: "";

  --copy-priamry: "";
  --copy-secondary: "";

  --cta: "";
  --cta-active: "";
  --cta-text: "";

}

.dark {
  --background: black;
  --foreground: white;
  
  --border: "";

  --copy-priamry: "";
  --copy-secondary: "";

  --cta: "";
  --cta-active: "";
  --cta-text: "";
}


body {
  color: var(--foreground);
  background-color: var(--background) !important;
  font-family: Arial, Helvetica, sans-serif;
}
